@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Roboto', sans-serif;
}

body {
    width: 100%;
    background: #F5F5F5;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    position: absolute;
    width: 583px;
    height: 374px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div {
    padding: 0.2em;
    position: absolute;
    width: 50em;
    color: white;
    top: 77%;
    left: 50%;
    transform: translate(-50%, -50%);
}

p {
    position: relative;
    text-align: center;
    font-size: 25px;
    margin-bottom: 29px;
}

#min {
    margin-right: 62px;
    margin-left: 20px;
}
input {
    padding-left: 16px;
    color: #F5F5F5;
    width: 342px;
    height: 74px;
    background: rgba(255, 255, 255, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 14px;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    margin-bottom: 30px;
}

button {
    position: relative;
    color: white;
    left: 50%;
    transform: translate(-50%);
    font-size: 36px;
    font-weight: 700;
    width: 342px;
    height: 72px;
    background: #AEC346;
    box-shadow: 0px 18px 40px rgba(174, 195, 70, 0.35);
    border-radius: 10px;
    cursor: pointer;
    border: none;
}

button:hover {
    opacity: 0.8;
}

button:active {
    opacity: 0.6;
}

@media screen and (max-width: 765px) {
    img {
        width: 20rem;
        height: 10rem;
        top: 20%;
        left: 50%;
    }
    
    p {
        margin-right: 38%;
    }
    #min {
        margin: 0;
        margin-bottom: 5%;
    }
    button {
        width: 18rem;
        left: 30%;
    }
    input {
        width: 18rem;
    }
    div {
        width: 30rem;
        margin-left: 23%;
        top: 65%;
    }
}

@media screen and (max-width: 320px) {
    img {
        width: 15rem;
        height: 8rem;
    }

    input {
        width: 15rem;
    }

    button {
        width: 15rem;
    }

    div {
        width: 25rem;
        left: 50%;
    }
}

@media screen and (max-width: 280px) {
    div {
        left: 55%;
    }
}